:root {
    --bg: #f6ca33;
}
*::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}
*:-moz-placeholder {
	color: #000;
	opacity: 1;
}
*::-moz-placeholder {
	color: #000;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #000;
	opacity: 1;
}
select.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #e4e4e4 url(../img/icon/trig.png) 98% 50% no-repeat;
    cursor: pointer;
    outline: none;
    padding-right: 5%;
}
.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.whatsapp {
    position: fixed;
    bottom: 10px;
    width: 70px;
    right: 10px;
/*    height: 60px;*/

}
.whatsapp img {
    width: 100%;
/*    height: 100%;*/
}
.mobi-but {
    display: block;
    width: 45%;
    position: fixed;
    bottom: 15px;
    height: 45px;
    text-align: center;
    background: #9dd301;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.mobi-but:focus {
    background: #9dd301;
}
.mobi-but i {
    margin-right: 5px;
}
.recall {
    left: 10px;
}
.recall span {
    font-weight: bold;
    color: #3131f7
}
.recall:hover:after {
    z-index: -1
}
.recall:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: linear-gradient(135deg, transparent 40px, rgba(255, 255, 255, 0.4) 60px, transparent 65px) no-repeat;
    background-position: -100px 0px;
    transform-origin: center;
    animation-name: but;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier( .2, .2, .3, .4);
    animation-iteration-count: infinite;
}
.recall:focus {
    outline: none;
}
@keyframes but {
    from {background-position: -100px 0px;}
    to {background-position: 500px 0px;}
}
.rewrite {
    right: 10px;
    padding: 11px 5px;
}

body {
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #1c1000;
}
body, html {
    overflow-x: hidden;
}
.container {
    width: 1250px;
    padding: 0;
}
.container:after, .container:before {
    display: none;
}
ul {
    padding: 0;
}
a {
	color:#000;
}
a:hover {
	text-decoration: none;
}
a:active {
	background: transparent;
}

.flex-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-s {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-head {
    display: none
}
.but {
    display: inline-flex;
    justify-content: center;
    align-items: center;
/*    width: 260px;*/
    height: 50px;
    border: none;
    background: #9bf6ca;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    padding: 0 20px
}
.but-mod {
    background: #f6ca33;
}

.but:hover, .modal-but:hover {
    color: #fff;
    background: #33e04c
}
.but:focus, .modal-but {
    color: #fff;
    text-decoration: none
}

.input {
    display: block;
    width: 100%;
    height: 65px;
    padding-left: 20px;
    font-size: 26px;
    outline: none;
    position: relative;
    margin-bottom: 40px;
    border: none;
    background: #e4e4e4;
    text-align: center;
    font-weight: bold;
    border-radius: 10px
}
textarea.input {
    width: 100%;
    resize: none;
    height: 100px;
    padding-top: 10px
}
.block {
    padding: 60px 0;
}
.pad-top {
    padding-top: 60px;
}
.pad-bot {
    padding-bottom: 60px;
}
.headline {
    margin: 0 0 50px;
    font-size: 40px;
    text-align: center;
    font-weight: bold
}
.headline_big {
    font-size: 52px;
}
header {
    padding: 30px 0
}
header .but {
    
}
.menu a {
    font-size: 16px;
    margin-right: 40px;
}

.head-cont {
    position: relative;
    padding: 20px 0 0
}
.head_title h1 {
    margin: 0 0 0 20px;
    font-size: 50px;
    font-weight: bold;
}
.head_list {
    background: #9baff6;
    padding: 10px 25px;
    width: 60%;
    margin-top: 25px;
}
.head_list p {
    font-size: 20px;
    margin: 15px 0;
}
.head_list p img {
    margin-right: 17px;
}
.head-img {
    position: absolute;
    top: 0;
    right: 0
}
.head_tel {
    margin-left: -40px
}
.head_tel p {
    font-weight: 900;
    color: #f6ca33;
    margin: 50px 0 0;
    position: relative;
    z-index: 1;
}
.head_tel p span {
    font-size: 24px;
}
.head_tel p a {
    color: #f6ca33;
    display: block;
    font-size: 50px;
    margin-top: 30px
}
.show-list {
    font-size: 22px;
    margin-left: 30px;
    cursor: pointer
}
.city-list {
    position: fixed;
    width: 350px;
    top: 0;
    right: 0;
    background: #f5f5f5;
    z-index: 99;
    overflow-y: scroll;
    height: 100%;
    padding: 35px 25px 25px 20px;
    border: 2px solid var(--bg);
    transition: all linear .2s;
    margin-right: -350px
}
.city-list.op {
    margin-right: 0
}
.city-list h4 {
    border-bottom: 1px solid var(--bg);
    margin: 0 0 20px
}
.city-list p {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.2)
}
.city-list p a {
    display: block;
    padding: 7px 15px;
    font-size: 16px
}
.city-list span {
    position: absolute;
    top: 5px;
    right: 18px;
    cursor: pointer
}

.subhead_row {
    background: #f6ca33;
    padding: 45px 0;
    font-size: 17px;
}
.subhead_row h2 {
    font-size: 17px;
    margin: 0;
}
.subhead_row-title h3 {
    margin: 0;
    font-size: 14px;
}
.subhead_row-title img {
    margin-right: 15px;
    display: block
}
.subhead_row .but {
    font-size: 19px
}

.car_bl {
    align-items: flex-start;
    flex-wrap: wrap;
}
.car_item {
    width: 48%;
    margin-bottom: 45px
}
.car_item p {
    margin-bottom: 0
}
.car_inner {
    align-items: stretch;
    margin-bottom: 30px;
    min-height: 220px
}
.car_inner-mod {
    min-height: 130px;
}

.car_inner>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.car_title {
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 0;
}
.car_subtitle {
    font-size: 12px;
    line-height: normal;
}
.price {
    color: #f6ca33;
    font-size: 28px;
    font-weight: bold;
    line-height: normal
}
.price_nds {
    color: #f6ca33;
    font-size: 17px;
    font-weight: bold;
    line-height: normal;
}
.car_item .but {
    height: 40px;
    margin: 0 auto;
}
.car_inner-mod .but {
    margin: 0;
    width: 260px;
}
.car_inner>img {
    width: 50%;
    margin-left: 15px;
    flex-shrink: 0;
    align-self: center
}
p.car_desc {
    font-size: 12.5px;
    line-height: normal;
    margin-bottom: 15px;
}
.car_char {
    border: 5px solid var(--bg);
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;
}
.car_char-inner {
    align-items: flex-start;
}
.car_char-inner p {
    font-size: 12.5px;
    line-height: normal;
}
.car_char-inner>div:first-child {
    width: 40%;
    flex-shrink: 0;
    text-align: left;
}
.car_char-inner>div:first-child>img {
    margin: 10px auto 0;
    display: block;
}
.car_char-inner>div:last-child {
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin-left: 2%;
}
.car_char>.but {
    margin-top: 20px;
}

.item {
    margin-bottom: 23px;
    font-size: 20px;
}
.item img {
    margin-right: 25px;
    flex-shrink: 0;
}

.form-container {
    background: var(--bg);
    padding: 30px 0;
}
.form {
    position: relative;
    display: flex;
    justify-content: flex-end
}
.form .men {
    position: absolute;
    left: 0;
    bottom: -30px;
}
.form_second .men {
    position: static;
    width: 280px;
}
.form_second .form {
    justify-content: space-between;
    align-items: flex-end;
}
.form_second .form_inner {
    margin-bottom: 35px;
}
.form_inner {
    width: 55%;
    text-align: center;
}
.form_inner .headline {
    margin-bottom: 40px
}
.form_inner .subtitle {
    font-size: 26px;
    margin-bottom: 40px
}
.form_inner option {
    font-size: 20px
}
.form_inner .but {
    font-size: 22px;
    min-width: 30%;
}
.form_ban {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_ban .item {
    font-size: 30px
}
.form_ban a {
    color: var(--bg);
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 35px
}

.numbs-container {
    padding: 30px 0;
}
.numbs-container .headline {
    margin-bottom: 40px;
}
.numb_it {
    align-items: flex-end;
    margin-bottom: 30px;
}
.numb_it span {
    color: var(--bg);
    font-weight: bold;
    font-size: 68px;
    white-space: nowrap;
    margin-right: 20px;
    line-height: 80%;
}
.numb_it p {
    margin: 0;
    font-size: 19px;
}

.why-container {
    padding: 30px 0 0;
    background: #9bf6ca
}
.why_bl {
    justify-content: center;
    flex-wrap: wrap;
}
.why_it {
/*    width: 32%;*/
    margin: 0 1% 50px;
}
.why_it img {
    margin-right: 25px
}
.why_it p {
    margin-bottom: 0;
    font-size: 14.5px;
    line-height: normal;
}

.know-container {
    background: var(--bg);
    padding-top: 50px
}
.know-container .headline {
    font-size: 30px;
    margin-bottom: 40px
}
.know_list {
    width: 65%;
    margin: 0 auto;
}
.know_list-item {
    margin-bottom: 25px;
}
.know_list-item span {
    width: 50px;
    text-align: center;
    margin-right: 20px;
}
.know_list-item p {
    margin-bottom: 0;
    font-size: 20px
}
.know_aten {
    margin: 0 auto;
    width: 90%;
    background: #9bf6ca;
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
    border-radius: 30px 30px 0 0;
    margin-top: 40px;
    line-height: normal
}

.dop_bl {
    align-items: flex-start;
    flex-wrap: wrap;
}
.dop_it {
    width: 48%;
    margin-bottom: 35px;
    flex-shrink: 0
}
.dop_it p {
    font-size: 13px;
    line-height: normal;
    margin-bottom: 0
}
.dop_it p b {
    font-size: 18px
}
.dop_it img {
    float: right;
    margin-top: 15px;
    margin-left: 15px
}

.dop_aten {
    width: 82%;
    background: var(--bg);
    padding: 2px 20px;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold
}
.dop_aten img {
    margin-right: 20px
}

.about_it {
    width: 80%;
    margin: 0 auto 20px
}
.about_it span {
    width: 80px;
    text-align: center;
    flex-shrink: 0;
    margin-right: 30px
}
.about_it span img {
    min-width: 50px
}
.faq_it {
    width: 90%;
    margin: 0 auto;
}
.faq_it+.but {
    margin: 30px auto;
    width: 260px;
    display: flex;
}

.compare_bl {
    align-items: flex-start
}
.compare_title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px
}
.compare_it:nth-child(2n) {
    text-align: right;
}
.compare_text {
    font-size: 20px;
    margin-top: 30px;
}


#online {
    background: #9bf6ca;
    padding: 40px 0 0;
    font-size: 20px;
    border-radius: 70px
}
#online .headline {
    font-size: 40px;
    margin-bottom: 40px
}
.calculator-bl {
    margin: 0px auto;
    padding: 0px 45px;
}
.calculator-row {
    margin-bottom: 30px;
    align-items: flex-start
}

.calculator-title{
    font-weight: bold;
    margin-bottom: 30px
}
.radio-but {
    display: none;
}
.radio-but+label {
    font-weight: normal;
    display: block;
    position: relative;
    margin-bottom: 25px;
    padding-left: 40px;
    cursor: pointer;
}
.podskazka {
    position: absolute;
    display: block;
    right: -120px;
    top: 30px;
    width: 200px;
    display: none;    
}
.podskazka img {
    width: 100%;
    border-radius: 30px
}
.radio-but+label:hover .podskazka {
    display: block;
    z-index: 3
}
.radio-but+label:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    left: 0;
    top: -4px;
    border: 4px solid var(--bg)
}
.radio-but:checked+label:before {
    background: url(../img/icon/check1.png) center no-repeat;
}
.range {
    -webkit-appearance: none;
    width: 100% !important;
}

.range-label {
    width: 450px;
    display: block;
    margin-top: 90px
}

.output {
    background: var(--bg);
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    width: 35px;
    padding: 3px 0;
    text-align: center
}

input[type=range]::-moz-range-track {
    border-radius: 5px;
    height: 5px;
    outline: none;
    background: var(--bg);
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    outline: none;
    background: var(--bg);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:20px;
    height:20px;
    background: var(--bg);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7.5px;
}

.range::-ms-slider-thumb {
    -webkit-appearance: none;
    width:20px;
    height:20px;
    background: var(--bg);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7.5px;
}

.range::-moz-slider-thumb {
    -webkit-appearance: none;
    width:20px;
    height:20px;
    background: var(--bg);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7.5px;
}

input[type=range]:focus {
    outline: none;
}

.range-label {
    position: relative;
}

.range-label span:nth-of-type(1) {
    position: absolute;
    top: -50px;
    left: 0;
}

.range-label span:nth-of-type(2) {
    position: absolute;
    top: -50px;
    right: 0;
}
.calculator-footer {
    margin-top: 70px
}
.calculator-footer>div {
    width: 40%;
}
.calculator-footer .calculator-footer_map {
    width: 48%
}
.calculator-footer .input {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    height: 55px;
    border: 3px solid var(--bg);
    background: none;
}
.calculator-footer textarea.input {
    height: 220px
}
#cp_km {
    width: 60px;
    border: none;
    border-bottom: 4px solid var(--bg);
    background: none
}
#map {
    width: 100%;
    height: 380px;
    border-radius: 20px;
    background: var(--bg)
}

.but-row {
    padding-bottom: 300px;
    position: relative
}
.but-row img {
    position: absolute;
    bottom: 0px;
    right: 17%
}
.but-row .but {
    margin: 50px auto 0;
    display: flex;
    padding: 0 50px;
    height: 60px;
    position: relative;
    z-index: 1
}

.for_spec {
    line-height: normal;
    width: 95%;
    margin: 0 auto 12px
}
.for_spec img {
    max-width: 20px;
}

.pay_bl {
    flex-wrap: wrap;
}
.pay_it {
    margin-bottom: 70px;
}
.pay_it-mod {
    align-items: flex-end;
}
.pay_it-mod p {
    font-size: 22px;
    margin-bottom: 0;
    
}
.pay_it:nth-child(6) p {
    margin-left: 20px
}

.dop_info_it {
    width: 48%;
    border-radius: 60px;
    padding: 25px;
    text-align: center;
    margin-bottom: 20px
}
.dop_info_it p {
    margin-bottom: 0;
    font-size: 20px;
    line-height: normal
}
p.dop_info_it-title {
    font-weight: bold;
    margin-bottom: 40px
}

.otzyv_it {
/*    width: 48%;*/
    margin-bottom: 30px
}
.otzyv_it-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.otzyv_it-title span {
    display: block;
    font-weight: normal;
    font-size: 18px;
}
.otzyv_it-res {
    align-items: flex-end;
    line-height: normal;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 20px;
}
.otzyv_it-res img {
    margin-left: 15px;
    margin-bottom: 3px;
}
.otzyv_but_bl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.otzyv_but_bl {
    margin-top: 40px;
}
.but_otz {
    background: none;
    border: 4px solid var(--bg);
    margin-top: 30px;
    height: 55px;
}

.photo {
    flex-wrap: wrap;
    justify-content: space-around;
}
.photo>img {
    margin-bottom: 50px;
}

.video {
    flex-wrap: wrap;
}
.video iframe {
    border: none;
    width: 30%;
    height: 230px;
    margin-bottom: 20px
}
.news_block {
    flex-wrap: wrap;
    align-items: stretch;
}
.news_it {
    width: 48%;
    background: #9bf6ca;
    padding: 20px 20px 50px;
    text-align: center;
    font-size: 22px;
}
.news_it-title {
    font-weight: bold;
}
.all_new {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 22px;
    margin-top: 40px;
}
.news_block-mod {
    column-gap: 32px
}
.new {
    width: 23%;
    background: #9bf6ca;
    padding: 10px 10px 35px;
    border-radius: 60px;
    margin-bottom: 40px;
}
.new img {
    width: 100%;
    border-radius: 60px;
}
.new_title {
    margin: 10px 0 20px;
    font-weight: bold;
    font-size: 20px
}
.new_text {
    font-size: 14px;
    line-height: normal;
}

.discond_ban {
    background: url(../img/bg1.jpg) center/cover;
    padding: 30px 0
}
.discond_ban-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 70px
}
.discond_ban span {
    display: inline-flex;
    margin-top: 30px;
    height: 40px;
    background: var(--bg);
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 17px;
    font-size: 20px
}

#contact {
    border-top: 4px solid var(--bg);
    border-bottom: 4px solid var(--bg);
}
.contact-main {
    align-items: stretch
}

.contact-main .but {
    width: 100%;
}
.contact-main h4 {
    font-weight: bold;
    margin: 0 0 15px;
    font-size: 18px
}
.contact-main_text div {
    margin-bottom: 30px;
    font-size: 18px
}
.contact-main_text-mod {
    width: 100%
}
.contact-main_text-mod>div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px
}
.contact-main_text-mod>div h4 {
    width: 40%;
}
.contact-main_map {
    width: 65%;
    flex-shrink: 0;
    margin-bottom: 30px;
    background: #eee;
    margin-left: 20px
}

.sectitle {
    font-size: 24px;
    font-weight: bold;
}

.botom_nav {
    align-items: flex-start;
    margin-top: 40px;
}
.botom_nav .sectitle {
    margin-bottom: 25px;
}
.botom_nav a {
    display: block;
    font-size: 20px;
}

footer {
    background: #9bf6ca;
    padding: 40px 0;
    font-size: 18px;
    line-height: normal;
}
footer a {
    font-weight: bold;
    margin-bottom: 20px
}


.kran {
    padding: 40px 0;
}
.kran .headline {
    font-size: 30px;
    margin-bottom: 40px;
}
.kran_bl {
    align-items: flex-start;
}

.kran_media {
    width: 32%;
    flex-shrink: 0;
    margin-left: 30px;
}
.kran_media img {
    width: 100%;
}
.kran_media iframe {
    border: none;
    width: 100%;
    height: 230px;
    margin-top: 30px;
}
.kran_desc {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 25px;
}
.kran_content .subtitle {
    font-size: 30px;
    font-weight: bold;
}
.kran_content table {
    width: 100%;
    font-size: 20px
}
.kran_content table tr:nth-child(2n+1) {
    background: #cacaca;
}
.kran_content td {
    padding: 7px 5px;
}
.kran_content td:last-child {
    text-align: right;
}
.kran .but {
    height: 60px;
    margin: 45px auto 0;
    display: flex;
}

.price_table {
    width: 100%;
    font-size: 18px
}
.price_table tr:nth-child(2n+1) {
    background: #cacaca;
}
.price_table td, .price_table th {
    padding: 7px 5px;
}
.price_table td:last-child, .price_table th:last-child {
    text-align: right;
}
.price_table td:nth-child(2), .price_table th:nth-child(2) {
    text-align: center;
}

.contact_info {
    margin-top: 50px;
    align-items: flex-start;
}
.contact_form {
    width: 35%;
}
.contact_form .subtitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px
}
.contact_form .input {
    height: 55px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    background: none;
    border: 2px solid var(--bg);
    margin-bottom: 20px
}
.contact_form textarea.input {
    height: 100px
}
.contact_form .but {
    margin: 0 auto;
    display: flex;
    width: 200px;
    font-size: 18px;
}

.contact_manager {
    width: 50%
}
.manager {
    width: 31%;
    background: #9bf6ca;
    padding: 15px;
    font-size: 16px;
    line-height: normal
}
.manager img {
    margin: 0px auto 20px;
    display: block
}


.rewiev-bl {
    flex-wrap: wrap;
    font-size: 14px;
    align-items: flex-start
}
.rewiev-it {
    width: 48.5%;
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #b2b2b2
}
.rewiev_row-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px
}
.rewiev_head {
    margin-bottom: 30px
}
.rewiev_head-us {
    font-size: 16px
}
.rewiev_head-us span {
    font-weight: normal;
    text-decoration: underline
}

.rate {
    text-align: right;
    flex-shrink: 0
}
.star {
    display: block;
    background: url(../img/icon/star.svg);
    height: 14px;
    margin-bottom: 15px
}
.rate .date {
    font-size: 16px;
    padding-right: 5px;
    display: block
}

.rewiev-info {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-between;
}

.rewiev-info p {
    width: 28%;
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
    flex-wrap: wrap;
    margin-bottom: 30px
}
.rewiev-info p span {
    font-weight: bold
}
.rewiev-info .name {
    max-width: 90%;
    font-size: 14px;
    height: 50px;
}
.rewiev_progr {
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
.rewiev_row {
    margin-bottom: 10px
}
.rewiev_row-asn {
    padding: 5px;
    background: #fafafa;
    margin-bottom: 10px
}
.rewiev_img {
    max-width: 100%;
    width: 100%
}


/*modal*/
.modal {
    padding-right: 0px !important;
}
.modal-open {
    padding-right: 0px !important;
}
.modal .modal-dialog {
    width: 480px;
    margin: 70px auto 0;
}
.city .modal-dialog {
    width: 50%
}
.city ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.city li {
    width: 22%;
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto 10px;
    text-align: center;
    border-bottom: 1px solid #f86818
}
.modal h4 {
    font-size: 25px;
    margin: 20px auto 20px;
    font-weight: bold;
    color: #181818;
}
.modal .input {
/*    width: 250px;*/
    margin: 10px auto 20px;
    font-size: 16px;
    text-align: left;
/*    height: 55px*/
}
.modal .but{
    display: block;
    width: 250px;
    height: 50px;
    margin: 0 auto 20px;
}
.modal p {
    font-size: 18px;
}
#ext .text-center>p {
    margin-top: 25px;
}
.modal-dialog .close {
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
}

#popup .modal-dialog  {
    width: 600px;
    margin-top: 60px
}
#popup .modal-body {
    padding: 30px;
    text-align: center
}
#popup h3 {

}
#popup h3 img {
    margin-right: 20px;
    width: 60px;
    position: relative;
}
#popup h3+p>a {
    font-size: 40px;
    color: #ffa200;
    padding-bottom: 20px;
    font-weight: 600;
    display: block;
    text-align: center
}

#popup .head-p {
    font-size: 26px;
    margin: 15px 0 20px;
    font-weight: bold
}
#popup  .opros {
    width: 220px;
    font-size: 18px;
    display: inline-block !important;
    margin:  10px;
    height: 50px;
}
#popup  .opros.opros-ne-dozv {
    width: 464px
}
.opros:focus {
    background: #fff;
    color: #3bac00;
}
#popup .but-opros {
    background: #9dd301;
    border: none;
    height: 50px;
    width: 200px !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px
}
.opros-block, .opros-form {
    padding: 0px 0 0;
    display: none;
}
#popup .complaint {
    font-size: 18px;
}
#popup .opros-block p {
    text-align: left;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold
}
.get-opros {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.complaint-block {
    display: none
}
.complaint-block textarea {
    display: block;
    margin-bottom: 10px;
    width: 80%;
    resize: none;
    padding: 5px 10px;
    height: 100px;
}
/* ---radio-custom-- */
.radio-opros {
    vertical-align: top;
    width: 15px;
    height: 15px;
    margin: 0 3px 0 0;
}

.radio-opros + label {
    cursor: pointer;
    margin-bottom: 25px
}

.radio-opros:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio-opros + label {
    position: relative;
    padding-left: 50px;
    display: flex;
    align-items: center;
    color: #565555;
    font-size: 20px;
    font-weight: normal;
    padding-top: 0px;
    margin-bottom: 15px
}

.radio-opros:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    background: #fff;
    border: 1px solid #f82008
}

.radio-opros:checked + label:before {
    background: #ffa200;
    box-shadow: 0px 0px 5px 0px #ffa200, inset 0px 0px 0px 5px #fff
}
.set-date {
    padding: 12px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 17px;
    border: 1px solid #ffa200
}

#show-txt {
    cursor: pointer;
    color: #ff7600;
}
.float-right {
    float: right;
    margin: 0 0 10px 15px;
}
.float-left {
    float: left;
    margin: 0 15px 10px 0;
}
.img {
    width: 80%;
    margin: 0 auto 20px;
    display: block
}
#scroll-to span{
	width:55px;
	height:54px;
	font-size: 45px;
	padding: 0 0 0 10px;
	border:3px solid #ffd600;
	border-radius:100%;
	color: rgba(246, 0, 20, 0.68);
}
#scroll-to{
	cursor: pointer;
	position: fixed;
	bottom:90px;
	right:10px;
	z-index:999;
	display: block;
}
#scroll-to:hover span{
	background: #ffe76b;
	color: rgba(246, 0, 20, 0.98);
}
.but-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 48%;
}
.but-block p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}
.but-block>div {
    width: 60%;
}
.but-block .but {
    width: 320px;
    margin-bottom: 20px
}
.but-block .but+p {
    width: 100%;
    text-align: center;
    font-weight: normal;
}
.but-block span {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.extr {
    width: auto;
    position: fixed;
    top: 45%;
    right: 30px;
    background: #9dd301;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    z-index: 99;
    display: none
}
.extr>img {
    position: absolute;
    z-index: 9;
    bottom: 100%;
    left: 10px;
}
.extr .but {
    width: 220px;
    background: #fdb02a;
    height: 50px;
}
.extr-close {
    position: absolute;
    top: -40px;
    cursor: pointer;
    right: 0px;
    z-index: 99;
}
.extr p {
    text-transform: uppercase;
    font-size: 18px;
}

.error {
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url(../img/not-found.jpg) center/cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #000
}
.error>div {
    margin-bottom: 9%
}
.error h4 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px
}
.error p {
    font-weight: bold;
    font-size: 20px
}
.error .but {
    margin: 0 auto;
    background: #4ddd22;
    color: #fff
}
.site-map-bl a {
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline
}
.hidden-link{
    display: none;
}
#show-city {
    margin: 0 auto!important;
    width: 300px;
    height: 60px;
}