body {
    padding: 0;
    margin: 0;
    font-size: 2.1vw;
    font-family: 'Geometria';
}
.wrapper {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.wrapper>img {
    width: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 95%
}
.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.container>div {
    width: auto;
}
.container>div>img {
    width: 5.5em;
    margin-bottom: .5em
}
h1 {
    font-family: '18046';
    font-size: 1.2em;
    margin: 0 0 .5em;
    padding: 0;
}
.container p {
    margin: 0 0 .8em;
    font-size: .72em
}
.container p a {
    color: #000;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
   body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Geometria';
}
.wrapper>img {
    width: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45%
}
.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.container>div {
    width: 100%;
    margin-top: 10px;
    position: relative;
    z-index: 2
}
.container>div>img {
    width: 80px;
    margin-bottom: .5em
}
h1 {
    font-size: 1em;
    margin: 0 0 .5em;
    padding: 0;
}
.container p {
    margin: 0 0 .8em;
    font-size: .8em
}
.container p a {
    color: #000;
    text-decoration: none;
}
}