@font-face {
	font-family: 'Geometria';
	src: url('Geometria.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'snyder-speed-brush';
	src: url('snyder-speed-brush.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria-Heavy';
	src: url('Geometria-Heavy.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: '18046';
	src: url('18046.ttf');
	font-weight: normal;
	font-style: normal;
}
